process{
  container = 'saintzainn/test:dev'
  containerOptions = '-B /home/'
}

params{
  input = "/mnt/c/Users/crtuser/Documents/PhD/Year1/RTP/NextflowLearning/test3/test-datasets/fastq/*_{1,2}.fastq.gz"
  fasta = "/mnt/c/Users/crtuser/Documents/PhD/Year1/RTP/NextflowLearning/test3/test-datasets/reference/chrI.fa"
  gtf =  "/mnt/c/Users/crtuser/Documents/PhD/Year1/RTP/NextflowLearning/test3/test-datasets/reference/chrI.gtf"
  samples = "/mnt/c/Users/crtuser/Documents/PhD/Year1/RTP/NextflowLearning/test3/test-datasets/samples.csv"
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/home/containers'

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    test { includeConfig 'conf/test.config' }
}